<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Newswaves</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!--Favicon-->
     <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
     <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
     <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
     <!-- THEME CSS
     ================================================== -->
     <!-- Bootstrap -->
     <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
     <!-- FontAwesome -->
     <link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css') }}">
     <!-- Slick Carousel -->
     <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick-carousel/slick.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick-carousel/slick-theme.css') }}">
     <!-- manin stylesheet -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<section class="login-signup section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="login">
                    <div class="text-center"><a href="/"><img src="{{ url_for('static', filename='images/logos/NEWS.png') }}" alt="" class="img-fluid"></a></div>
                    <h3 class="mt-4">Login Here</h3>
                    <p class="mb-5">Enter your valid mail & password</p>
                    <form action="/login" class="login-form row" method="POST">
                        <div class="msg" style="color: red">{{ msg }}</div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="loginemail">Email</label>
                                <input type="text" id="loginemail" class="form-control" name="loginemail" placeholder="Enter mail" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input type="password" id="loginPassword" class="form-control" name="loginPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit">Login</button>

                            <p class="mt-5 mb-0">Not a member yet? <a href="/register">Register Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.js') }}"></script>
<!-- Bootstrap jQuery -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- Slick Slider -->
<script src="{{ url_for('static', filename='plugins/slick-carousel/slick.min.js') }}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="{{ url_for('static', filename='plugins/google-map/gmap.js') }}"></script>
<!-- main js -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

<script>
    window.watsonAssistantChatOptions = {
      integrationID: "2be8b389-b5f6-469c-8d9f-95e1bd313f57", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "0c5db647-b785-4362-b30a-0e09fc877b93", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>

</body>
</html>